{% extends 'base.html' %}

{% block title %}About Passionate Racers{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block style %}
body {
background-color:#333;
color: white;
}

h2{
    padding:20px;
}

{% endblock style %}

{% block body %}

<div class="container text-center">


    <main role="main" class="inner cover">
        <h1 class="cover-heading">About Us</h1>
        <p class="lead"><strong>[PR] Passionate Racers</strong> is one of HCR2’s oldest formed clans. Created by <strong><a
                href="https://www.youtube.com/channel/UC9XbIpVtEeg5x5C7uNqmEaA">[PR]Sameer</a></strong> aka Sameer
            Kamboj, in February of 2018, we are an active clan of top racers and host the largest in game competition in
            the HCR2 community of players from all around the globe. To be apart of the competition and race amongst the
            best of the best, make sure to add [PR]Pie•Ø•My &#127482 &#127480 to your friends list</p>
        <p class="lead">
            <a href="https://playhcr.com/invite?id=7Y1edV" class="btn btn-lg btn-warning">Invitation Link</a>
        </p>
    </main>
    <center> <h2>Our Discord Server</h2>
        <iframe src="https://discord.com/widget?id=592813012323401749&theme=light" height="500"
            allowtransparency="true" frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            <p class="lead">
                <a href="https://playhcr.com/invite?id=7Y1edV" class="btn btn-lg btn-success">Join Now!</a>
            </p></center>

</div>
</div>





{% endblock body %}