<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The new changes 2021</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
     <link rel="icon" href="https://images-ext-2.discordapp.net/external/oKF4OlfydonO0l-UDrPXGygjsBZk4pd8uVq_sNUBIs4/https/cdn.discordapp.com/emojis/677333829374967851.png" type="image/png">
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <style>
        body {
    background-color: #16151d;
    color: white;
}
       .social{
           font-size: 200px;
       }
       .title{
           font-size: 30px;
       }
       .demo{
           font-size: 25px;
       }
      
    </style>
<body>

<div class="container text-center">
    <div class="social">
        <img src="https://images-ext-2.discordapp.net/external/-wF6_ak8cIpm2u6UPlrYQP7nk_muN-Cyjb8agWZgcbI/https/cdn.discordapp.com/emojis/734413249864531979.gif"
        draggable="false">
    </div>

<div id="demo" class="demo text-center my-2">
<a href='https://discord.gift/g2mEdmGzz5YHw2Vf' role='button' target='_blank' class='btn btn-outline-dark pulse my-3'>Claim your nitro</a>
</div>
</div>



    <script>
        
    </script>
    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>